---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  href: string;
  icon: ImageMetadata;
  label: string;
}

const { href, icon, label } = Astro.props as Props;
---

<a
  href={href}
  aria-label={label}
  title={label}
  class="inline-block bg-neutral-200 p-1 rounded-full"
  target="_blank"
  rel="noopener noreferrer"
>
  <Image src={icon} alt={label} />
</a>
